*.class
*.log
*.jar

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
bin/*

# Scala-IDE specific
.scala_dependencies

.idea
*.ipr
*.iws
*.iml
.classpath
.project
eclipse/
idea/
